<!-- breadcrumb start -->
<div class="pa-breadcrumb">
  <div class="container-fluid">
    <div class="pa-breadcrumb-box">
      <h1>checkout</h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>checkout</li>
      </ul>
    </div>
  </div>
</div>
<!-- breadcrumb end -->
<!-- checkout start -->
<div class="pa-checkout spacer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="pa-bill-form">
          <form>
            <label class="pa-bill-title">
              Billing details
            </label>
            <label>
              <span>Full Name</span>
              <input type="text"/>
            </label>
            <label>
              <span>Mobile</span>
              <input type="text"/>
            </label>
            <label>
              <span>Address</span>
              <input type="text"/>
            </label>
            <label>
              <span>State</span>
              <input type="text"/>
            </label>
            <label>
              <span>City</span>
              <input type="text"/>
            </label>
            <label>
              <span>Pin code</span>
              <input type="number"/>
            </label>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pa-bill-detail">
          <p class="pa-bill-title">Order details</p>
          <table>
            <thead>
            <tr>
              <th>Product name</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Feverfew</td>
              <td>Rs 1000</td>
            </tr>
            <tr>
              <td>Ginger</td>
              <td>Rs 250</td>
            </tr>
            <tr>
              <td>Chamomile</td>
              <td>Rs 280</td>
            </tr>
            <tr class="pa-checkout-total">
              <td>Grand Total</td>
              <td>Rs 1540</td>
            </tr>
            </tbody>
          </table>
          <div class="pa-place-order-btn">
            <button class="pa-btn">place order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- checkout end -->
