<div class="pa-login-model pa-forgot-modal">
  <div class="modal fade" id="forgotModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="pa-login-close close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <h1 class="pa-login-title">Forgot Password</h1>
          <form>
            <div class="pa-login-form">
              <input type="text" placeholder="Email">
              <div class="pa-login-btn">
                <button class="pa-btn">Forgot</button>
                <p>Don't have an account? <a href="javascript:;" data-toggle="modal"
                                             data-target="#signUpModal" data-dismiss="modal" aria-label="Close">Sign
                  up</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
