<div class="pa-main-wrapper">
  <!-- main header start -->
  <app-header></app-header>
  <!-- main header end -->
  <!-- router-outlet -->
  <router-outlet></router-outlet>
  <!-- router-outlet -->
  <!-- footer start -->
  <app-footer></app-footer>
  <!-- footer end -->
  <!-- login start -->
  <app-login></app-login>
  <!-- footer end -->
  <!-- register start -->
  <app-register></app-register>
  <!-- register end -->
  <!-- forgotpwd start -->
  <app-forgotpwd></app-forgotpwd>
  <!-- forgotpwd end -->
</div>
