<!-- footer start -->
<div class="pa-footer-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="pa-foot-box">
          <h2 class="pa-foot-title">Top Products</h2>
          <ul>
            <li>
              <a href="javascript:;">Chamomile</a>
            </li>
            <li>
              <a href="javascript:;">Echinacea</a>
            </li>
            <li>
              <a href="javascript:;">Feverfew</a>
            </li>
            <li>
              <a href="javascript:;">Garlic</a>
            </li>
            <li>
              <a href="javascript:;">Ginseng</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="pa-foot-box">
          <h2 class="pa-foot-title">Legal Information</h2>
          <ul>
            <li>
              <a href="javascript:;">About Us</a>
            </li>
            <li>
              <a href="javascript:;">Privacy Policy</a>
            </li>
            <li>
              <a href="javascript:;">Terms & Conditions</a>
            </li>
            <li>
              <a href="javascript:;">Customer Service</a>
            </li>
            <li>
              <a href="javascript:;">Return Policy</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pa-foot-box pa-foot-subscribe">
          <div class="pa-newsletter">
            <form>
              <input type="text" placeholder="Subscribe newsletter">
              <button class="pa-btn">Subscribe now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer end -->
<!-- copyright start -->
<div class="pa-copyright pa-copyright-two">
  <div class="container">
    <p>Copyright &copy; 2020. All right reserved. <a routerLink="/">Panchakarma</a></p>
  </div>
</div>
<!-- copyright end -->
